<div class='header-wrapper'>
  <header class='header'>

    <h1 class='u-visually-hidden'>
      Header
    </h1>

    <div class='header-mobile'>

      <div class='header-mobile-brand'>
        <a class='logo-link' href='{{ "/en" | prepend: site.baseurl }}'>
          {% include icons/gogo-code-logo.svg %}
        </a>
      </div>

      <button class='nav-toggle-button js-toggle-navigation'>
        <span class='nav-toggle-button-icon-bar'></span>
        <span class='nav-toggle-button-icon-bar'></span>
        <span class='nav-toggle-button-icon-bar'></span>
      </button>

    </div>

    <nav class='main-nav is-hidden-on-mobile js-act-as-navigation'>
      <h2 class='u-visually-hidden'>
        Primary Navigation
      </h2>

      <ul class='main-nav-list'>

        <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/en/#about" | prepend: site.baseurl }}'>
            About
          </a>
        </li>

        <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/en/#why-coding" | prepend: site.baseurl }}'>
            Why coding?
          </a>
        </li>

        <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/en/#get-involved" | prepend: site.baseurl }}'>
            Get Involved
          </a>
        </li>

  <!--       <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/#team" | prepend: site.baseurl }}'>
            Team
          </a>
        </li> -->

        <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/en/#contact" | prepend: site.baseurl }}'>
            Contact
          </a>
        </li>

        <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/en/stories" | prepend: site.baseurl }}'>
            Stories
          </a>
        </li>

<!--         <li class='main-nav-list-item mod-normal-link'>
          <a class='nav-section-link' href='{{ "/uploads/curriculum_en.pdf" | prepend: site.baseurl }}'>
            Curriculum
          </a>
        </li> -->

        <li class='main-nav-list-item mod-donate'>
          <a class='call-to-action mod-navigation popup fancybox.iframe' href='{{ "/en/donate" | prepend: site.baseurl }}'>
            Donate
          </a>
        </li>

        <li class='main-nav-list-item mod-language-switcher'>
          <a lang='ka' class='language-link' href='{{ page.url | replace_first: "/en/", "/ka/" | prepend: site.baseurl }}'>
            ქა
          </a>

          <a lang='en' class='language-link is-active' href='{{ page.url | replace_first: "/ka/", "/en/" | prepend: site.baseurl }}'>
            En
          </a>
        </li>

      </ul>
    </nav>
  </header>
</div>