<footer class='footer'>

  <div class='footer-content'>

    <div class='footer-content-wrapper'>

      <section id='contact' class='footer-content-wrapper-section'>

        <h1 class='heading mod-footer'>
          დაგვიკავშირდით
        </h1>

        <div class='footer-content-wrapper-section-text'>

          <p class='footer-content-wrapper-section-text-line'>
            მელიქიშვილის ქ. 6, მე-3 სართული,<br />0179, თბილისი, საქართველო
          </p>

          <p class='footer-content-wrapper-section-text-line'>
            +995 032 214 29 26
          </p>

          <p class='footer-content-wrapper-section-text-line'>
            info@jumpstart.ge
          </p>

        </div>

        <div class='footer-content-wrapper-section-social-icons'>

          <div class='social-icon'>
            {% include icons/facebook-logo.svg %}
          </div>

          <div class='social-icon'>
            {% include icons/twitter-logo.svg %}
          </div>

          <div class='social-icon'>
            {% include icons/linkedin-logo.svg %}
          </div>
        </div>

      </section>

      <section id='team' class='footer-content-wrapper-section'>

        <h1 class='heading mod-footer'>
          ჯამპსტარტ ჯორჯიას შესახებ
        </h1>

        <div class='footer-content-wrapper-section-text'>

          <p class='footer-content-wrapper-section-text-line'>
            ჯამპსტარტ ჯორჯია რეგისტრირებული არასამთავრობო ორგანიზაციაა, რომელიც გიამბობთ ამბებს სოციალური საკითხების შესახებ მონაცემების, ტექნოლოგიისა და დიზაინის გამოყენებით.
          </p>

        </div>

        <div class='footer-content-wrapper-section-jumpstart-logo'>
          {% include icons/jumpstart-logo.svg %}
        </div>

      </section>

    </div>

  </div>

</footer>
