---
layout: default
---

<main>

  <h1 class='u-visually-hidden'>Gogo Code</h1>

  <p class='brand-description'>
    Gogo Code is a program to teach teenage girls in Georgia the basics of <strong class='important-text'>computer programming</strong> and <strong class='important-text'>encourage</strong> participation in <strong class='important-text'>STEM</strong> fields.
  </p>

  <section id='about' class='section'>

    <h2 class='heading'>
      What is Gogo Code?
    </h2>

    <div class='text-block'>

      <p>
        Gogo Code is a program to teach teenage girls in Georgia the basics of computer programming and encourage participation in <strong class='important-text'>STEM</strong> fields.
      </p>

      <p>
        Gogo Code is a ten-day coding camp for girls in the Republic of Georgia. <strong class='important-text'>It is FREE</strong> and open to all girls ages 14-16.
      </p>

    </div>

    <section class='section'>
      <div class='graphic-heading'>

        <div class='graphic-heading-container'>

          <div class='graphic-heading-container-icon'>
            {% include icons/during-camp.svg %}
          </div>

          <h3 class='graphic-heading-container-text'>
            During Camp
          </h3>

        </div>

      </div>

      <div class='list-block'>

        <h4 class='list-block-heading'>
          Participants will learn:
        </h4>

        <ul class='list-block-list'>
          <li class='list-block-list-item'>
            Introductory programming concepts as well as HTML and CSS
          </li>

          <li class='list-block-list-item'>
            Hands-on science activities
          </li>

          <li class='list-block-list-item'>
            Self-esteem, teamwork, presentation, problem-solving, and critical thinking skills
          </li>

          <li class='list-block-list-item'>
            How to make video diaries
          </li>
        </ul>

      </div>

    </section>

    <section class='section'>
      <div class='graphic-heading mod-after-camp'>

        <div class='graphic-heading-container'>

          <div class='graphic-heading-container-icon'>
            {% include icons/after-camp.svg %}
          </div>

          <h3 class='graphic-heading-container-text'>
            After Camp
          </h3>

        </div>

      </div>

      <div class='list-block'>

        <h4 class='list-block-heading'>
          Girls will participate in:
        </h4>

        <ul class='list-block-list'>
          <li class='list-block-list-item'>
            Site visits
          </li>

          <li class='list-block-list-item'>
            Community projects
          </li>

          <li class='list-block-list-item'>
            Meet-ups
          </li>

          <li class='list-block-list-item'>
            Mentoring with professional women
          </li>
        </ul>

      </div>

    </section>

  </section>

  <section id='why-coding' class='section mod-grey-background mod-top-padding mod-top-border'>

    <h2 class='heading mod-no-margins'>
      Why coding and STEM?
    </h2>

    <div class='text-block'>

      <p>
        In Georgia, women and girls are being left on the sidelines in STEM fields (Science, Technology, Engineering and Math).
      </p>

      <p>
        While girls score slightly higher than boys on Georgian exit exams in STEM subjects, they receive less support, are consistently less confident, and ultimately make up only 16% of university students in IT.
      </p>

    </div>

    <div class='pie-chart'>
      <div class='pie-chart-label'>
        16%
      </div>
    </div>

    <div class='coding-awesome-section'>

      <div class='coding-awesome-section-intro'>

        <p class='coding-awesome-section-intro-text'>
          Computer coding <strong class='important-text mod-uppercase'>is important</strong> in every aspect of life, including <strong class='important-text'>medicine</strong>, <strong class='important-text'>community development</strong>, and <strong class='important-text'>economics</strong>.
        </p>

        <a class='call-to-action' href='{{ "/#" | prepend: site.baseurl }}'>
          Donate
        </a>

      </div>

      <p class='coding-awesome-section-quote'>
        “If women aren’t represented in technology, their ideas, concerns, and designs won’t be included when we create the cities, cars, infrastructure, medicines, communications, companies, and governments of tomorrow.” <span class='signature-text'>- Google’s Made With Code</span>
      </p>

    </div>

  </section>

  <section id='support' class='section'>

    <h2 class='heading'>
      How to get involved
    </h2>

    <section class='section'>

      <h3 class='u-visually-hidden'>
        Sign up
      </h3>

      <div class='text-block'>

        <p>
          <strong class='important-text'>Join girls across the world who are learning to code.</strong><br />Applications for Gogo Code will be available soon.
        </p>

        <p>
          <a href='#' class='link'>Sign up here</a> to be notified when applications are ready.
        </p>

      </div>

    </section>

    <section class='section'>

      <h3 class='u-visually-hidden'>
        Become a Sponsor
      </h3>

      <div class='text-block'>

        <p>
          <strong class='important-text'>Interested in sponsoring Gogo Code?</strong><br /> Contact JumpStart Georgia’s Executive Director Eric Barrett.
        </p>

      </div>

    </section>

    <a class='call-to-action' href='{{ "/#" | prepend: site.baseurl }}'>
      Donate
    </a>

  </section>

</main>
