---
layout: georgian_default
description: Gogo Code არის პროგრამა, რომელიც საქართველოში თინეიჯერ გოგონებს ასწავლის
  პროგრამირების საფუძვლებს და მხარს უჭერს მათი ტექნოლოგიებით დაინტერესებას.
---

<main class='navbar-distance'>

  <h1 class='u-visually-hidden'>Gogo Code</h1>

  <div class='brand'>

    <div class='brand-content'>

      <p class='brand-description'>
        <span lang='en'>Gogo Code</span> არის პროგრამა, რომელიც საქართველოში თინეიჯერ გოგონებს ასწავლის <strong class='important-text'>პროგრამირების საფუძვლებს</strong> და მხარს უჭერს მათი ტექნოლოგიებით დაინტერესებას.
      </p>

    </div>

  </div>

  <section class='section mod-about u-limit-content-width'>
    <div id='about' class='section-redirection'></div>
    <h2 class='heading'>
      რა არის <span lang='en'>Gogo Code?</span>
    </h2>

    <div class='text-block'>

      <div class='camp-flag-icon-container'>
        {% include icons/camp-with-flag.svg %}
      </div>

      <p>
        <span lang='en'>Gogo Code</span> არის პროგრამა, რომელიც საქართველოში თინეიჯერ გოგონებს ასწავლის <strong class='important-text'>პროგრამირების საფუძვლებს</strong> და მხარს უჭერს მათი ტექნოლოგიებით დაინტერესებას.
      </p>

      <p>
        <span lang='en'>Gogo Code</span> არის 10-დღიანი ბანაკი გოგონებისთვის საქართველოში. <span class='avoid-wrap-text'><strong class='important-text'>ის არის უფასო</strong> და მასში მონაწილეობის მიღება შეუძლიათ 13-16 წლის გოგონებს.</span>
      </p>

    </div>

    <div class='graphic-list-container'>

      <div class='graphic-list-container-item'>

        <div class='graphic-heading'>

          <div class='graphic-heading-container'>

            <div class='graphic-heading-container-icon'>
              {% include icons/during-camp.svg %}
            </div>

            <h3 class='graphic-heading-container-text'>
              ბანაკში
            </h3>

          </div>

          <div class='graphic-heading-triangle'></div>

        </div>

      </div>

      <div class='graphic-list-container-item'>

        <div class='list-block'>

          <h4 class='list-block-heading'>
            მონაწილეები ისწავლიან:
          </h4>

          <ul class='list-block-list'>
            <li class='list-block-list-item'>
              პროგრამირების შესავალს, <span lang='en'>HTML</span>-სა და <span lang='en'>CSS</span>-ს
            </li>

            <li class='list-block-list-item'>
              სამეცნიერო ექსპერიმენტების ჩატარებას
            </li>

            <li class='list-block-list-item'>
              ვიდეო დღიურების შექმნას
            </li>

            <li class='list-block-list-item'>
              შეიძენენ ჯგუფური მუშაობის, პრეზენტაციების გაკეთების, პრობლემის გადაჭრისა და კრიტიკული აზროვნების უნარ-ჩვევებს
            </li>
          </ul>

        </div>

      </div>

    </div>

    <div class='graphic-list-container mod-after-camp'>

      <div class='graphic-list-container-item'>

        <div class='graphic-heading mod-after-camp'>

          <div class='graphic-heading-container'>

            <div class='graphic-heading-container-icon'>
              {% include icons/after-camp.svg %}
            </div>

            <h3 class='graphic-heading-container-text'>
              ბანაკის შემდეგ
            </h3>

          </div>

          <div class='graphic-heading-triangle'></div>

        </div>

      </div>

      <div class='graphic-list-container-item'>

        <div class='list-block'>

          <h4 class='list-block-heading'>
            გოგონები მონაწილეობას მიიღებენ:
          </h4>

          <ul class='list-block-list'>
            <li class='list-block-list-item'>
              სხვადასხვა ორგანიზაციასთან ვიზიტებში
            </li>

            <li class='list-block-list-item'>
              საზოგადოებრივ პროექტებში
            </li>

            <li class='list-block-list-item'>
              თემატურ შეხვედრებში
            </li>

            <li class='list-block-list-item'>
              მენტორობის პროგრამებში
            </li>
          </ul>

        </div>

      </div>

    </div>

  </section>

  <section class='section mod-why-coding'>
    <div id='why-coding' class='section-redirection'></div>
    <div class='u-limit-content-width'>

      <div class='text-icon-container mod-pie-chart'>

        <div class='text-icon-container-text'>

          <h2 class='heading mod-no-margins'>
            რატომ პროგრამირება და ტექნოლოგიები<span lang='en'>?</span>
          </h2>

          <div class='text-block'>

            <p>
              საქართველოში ქალები ნაკლებად არიან ჩართულნი <strong class='important-text'>მეცნიერების, ტექნოლოგიების, ინჟინერიისა და მათემატიკის</strong> სპეციალობებში. გოგონები ამ საგნების გამოცდებში არ ჩამოუვარდებიან ბიჭებს, თუმცა <strong class='important-text'>ნაკლებ მხარდაჭერას</strong> იღებენ, არ არიან საკუთარ შესაძლებლობებში დარწმუნებულნი და, შედეგად, <strong class='important-text'>ინფორმაციული ტექნოლოგიების ფაკულტეტის</strong> სტუდენტების მხოლოდ <strong class='important-text'>16%</strong>-ს შეადგენენ.
            </p>

          </div>

        </div>

        <div class='text-icon-container-icon'>

          <div class='pie-chart'>
            <div class='pie-chart-label'>
              <span lang='en'>16%</span>
            </div>
          </div>

        </div>

      </div>

    </div>

    <div class='coding-awesome-section'>
      <div class='image-filter'></div>

      <div class='coding-awesome-section-intro'>

        <div class='u-limit-content-width'>

          <div class='text-icon-container mod-donate'>

            <div class='text-icon-container-text'>

              <p class='coding-awesome-section-intro-text'>
                პროგრამირება ცხოვრების ნებისმიერ ასპექტში <strong class='important-text'>არის მნიშვნელოვანი</strong>, იქნება ეს <strong class='important-text'>საზოგადოებრივი განვითარება</strong>, <strong class='important-text'>მედიცინა</strong> თუ <strong class='important-text'>ეკონომიკა</strong>.
              </p>

            </div>

            <div class='text-icon-container-icon'>

              <a class='call-to-action mod-coding-awesome-intro popup fancybox.iframe' href='{{ "/ka/donate" | prepend: site.baseurl }}'>
                დააფინანსე
              </a>

            </div>

          </div>

        </div>

      </div>

      <div class='coding-awesome-section-content'>

        <p class='coding-awesome-section-content-quote'>
          თუ ქალები არ იქნებიან ჩართულნი ტექნოლოგიების სფეროში, მათი იდეები, აზრები და დიზაინი არ იქნება გათვალისწინებული, როდესაც ჩვენ შევქმნით ქალაქებს, მანქანებს, ინფრასტრუქტურას, მედიკამენტებს, კომპანიებსა და მთავრობებს ხვალ. <span class='signature-text' lang='en'>- Google’s Made With Code</span>
        </p>

      </div>

    </div>

  </section>

  <section class='section u-limit-content-width'>
    <div id='get-involved' class='section-redirection'></div>
    <div class='get-involved-section'>

      <h2 class='heading'>
        როგორ ჩავერთოთ
      </h2>

      <div class='get-involved-section-text'>

        <section class='get-involved-section-text-section'>

          <h3 class='u-visually-hidden'>
            Sign up
          </h3>

          <div class='get-involved-section-text-section-content'>
            <p>
              <strong class='important-text'> ინფორმაცია ბანაკის შესახებ ხელმისაწვდომი იქნება აქ. ადევნე თვალი! </strong> 
            </p>

          </div>

        </section>

        <section class='get-involved-section-text-section'>

          <h3 class='u-visually-hidden'>
            Become a Sponsor
          </h3>

          <div class='get-involved-section-text-section-content'>

            <p>
              <strong class='important-text'>დაინტერესდით <span lang='en'>Gogo Code</span>-ის დაფინანსებით?</strong><br />დაუკავშირდით დაუკავშირდი ჯამპსტარტ ჯორჯიას:  
              <a class='link' href="mailto:info@jumpstart.ge">info@jumpstart.ge</a>
            </p>
            </p>

          </div>

        </section>

      </div>

      <div class='get-involved-section-donate'>

        <a class='call-to-action popup fancybox.iframe' href='{{ "/ka/donate" | prepend: site.baseurl }}'>
          დააფინანსე
        </a>

      </div>

    </div>

  </section>

</main>

