<footer class='footer'>

  <section id='contact' class='section mod-small-top-margin'>

    <h1 class='heading mod-footer'>
      Contact Us
    </h1>

    <p class='footer-text'>
      4/6 Melikishvili St., Floor 3<br />Tbilisi, Georgia 0180
    </p>

    <p class='footer-text'>
      +995 032 214 29 26
    </p>

    <p class='footer-text'>
      info@jumpstart.ge
    </p>

  </section>

  <section id='team' class='section'>

    <h1 class='heading mod-footer'>
      About JumpStart Georgia
    </h1>

    <p class='footer-text'>
      JumpStart Georgia is a registered non-
      governmental organization which tells
      stories creatively using data, technology,
      and design to inform our community
      about social issues.
    </p>

  </section>

</footer>
