<footer class='footer'>

  <div class='footer-content'>

    <section id='contact' class='footer-content-section'>

      <h1 class='heading mod-footer'>
        Contact Us
      </h1>

      <p class='footer-content-section-text'>
        4/6 Melikishvili St., Floor 3<br />Tbilisi, Georgia 0180
      </p>

      <p class='footer-content-section-text'>
        +995 032 214 29 26
      </p>

      <p class='footer-content-section-text'>
        info@jumpstart.ge
      </p>

      <div class='footer-content-section-social-icons'>
        <img src='{{ site.baseurl }}/assets/images/facebook-logo.png' alt='Facebook Logo' />
        <img src='{{ site.baseurl }}/assets/images/linkedin-logo.png' alt='LinkedIn Logo' />
        <img src='{{ site.baseurl }}/assets/images/twitter-logo.png' alt='Twitter Logo' />
      </div>

    </section>

    <section id='team' class='footer-content-section'>

      <h1 class='heading mod-footer'>
        About JumpStart Georgia
      </h1>

      <p class='footer-content-section-text'>
        JumpStart Georgia is a registered non-
        governmental organization which tells
        stories creatively using data, technology,
        and design to inform our community
        about social issues.
      </p>

      <div class='footer-content-section-jumpstart-logo'>
        {% include icons/jumpstart-logo.svg %}
      </div>

    </section>

  </div>

</footer>
