<footer class='footer'>

  <div class='footer-content'>

    <div class='footer-content-wrapper'>

      <section id='contact' class='footer-content-wrapper-section'>

        <h1 class='heading mod-footer'>
          Contact Us
        </h1>

        <div class='footer-content-wrapper-section-text'>

          <p class='footer-content-wrapper-section-text-line'>
            6 Melikishvili St, 3rd Floor, 0179, <br />Tbilisi, Georgia 0180
          </p>

          <p class='footer-content-wrapper-section-text-line'>
            +995 032 214 29 26
          </p>

          <p class='footer-content-wrapper-section-text-line'>
            info@jumpstart.ge
          </p>

        </div>

        <div class='footer-content-wrapper-section-social-icons addthis_inline_share_toolbox_5v7n'>
        </div>

      </section>

      <section id='team' class='footer-content-wrapper-section'>

        <h1 class='heading mod-footer'>
          About JumpStart Georgia
        </h1>

        <div class='footer-content-wrapper-section-text'>

          <p class='footer-content-wrapper-section-text-line'>
            JumpStart Georgia is a registered non-
            governmental organization which tells
            stories creatively using data, technology,
            and design to inform our community
            about social issues.
          </p>

        </div>

        <div class='footer-content-wrapper-section-jumpstart-logo'>
          {% include icons/jumpstart-logo.svg %}
        </div>

      </section>

      <section id='partners' class='partners footer-content-wrapper-section'>
         <h1 class='heading mod-footer'>
          Partners
        </h1>

        <div class='partners-links'>
          <a href='https://ge.usembassy.gov/' target="_blank">
            <img alt="Embassy of the Unites States Georgia" title="Embassy of the Unites States Georgia" src="/assets/images/usa_embassy.png">
          </a>
          <a href='http://museum.ge/' target="_blank">
            <img alt="Georgian National Museum" title="Georgian National Museum" src="/assets/images/gnm.png">
          </a>

        </div>

      </section>

    </div>

  </div>

</footer>
