<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>

  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="{{ site.url }}" />
  <meta property="og:image" content="{{site.url}}/assets/images/Brand-Description-Background-Girl-At-Computer.jpg" />
  <meta property="og:site_name" content="Gogo Code" />
  <meta property="fb:app_id" content="357762154326410" />

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">

  <script type="text/javascript" src="/tools/jquery-3.2.0.min.js"></script>
  <script type="text/javascript" src="/tools/jquery-ui.js"></script>

  <link rel="stylesheet" href="/tools/fancybox/source/jquery.fancybox.css?v=2.1.6" type="text/css" media="screen" />
  <script type="text/javascript" src="/tools/fancybox/source/jquery.fancybox.pack.js?v=2.1.6"></script>

  <link rel="stylesheet" href="/tools/fancybox/source/helpers/jquery.fancybox-buttons.css?v=1.0.5" type="text/css" media="screen" />
  <script type="text/javascript" src="/tools/fancybox/source/helpers/jquery.fancybox-buttons.js?v=1.0.5"></script>
  <script type="text/javascript" src="/tools/fancybox/source/helpers/jquery.fancybox-media.js?v=1.0.6"></script>

  <link rel="stylesheet" href="../tools/fancybox/source/helpers/jquery.fancybox-thumbs.css?v=1.0.7" type="text/css" media="screen" />
  <script type="text/javascript" src="/tools/fancybox/source/helpers/jquery.fancybox-thumbs.js?v=1.0.7"></script>

  {% include fonts.html %}
  {% include favicon.html %}

</head>
