@font-face {
  font-family: 'Dejavu Neue';
  font-weight: 400;
  src: url($site-baseurl + '/assets/fonts/Dejavu Neue.ttf') format('truetype');
}

@font-face {
  font-family: 'Dejavu Neue';
  font-weight: 200;
  src: url($site-baseurl + '/assets/fonts/Dejavu Neue Extra Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Dejavu Neue';
  src: url($site-baseurl + '/assets/fonts/Dejavu Neue Bold.ttf') format('truetype');
  font-weight: 600;
}

// @font-face {
//   font-family: 'Dejavu Neue';
//   src: url($site-baseurl + '/assets/fonts/Dejavu Neue ExtraLight Caps.ttf') format('truetype');
//   font-weight: 200;
//   text-transform: uppercase;
// }

// @font-face {
//   font-family: 'Dejavu Neue';
//   src: url($site-baseurl + '/assets/fonts/Dejavu Neue Caps.ttf') format('truetype');
//   text-transform: uppercase;
// }

// @font-face {
//   font-family: 'Dejavu Neue';
//   src: url($site-baseurl + '/assets/fonts/Dejavu Neue Caps Bold.ttf') format('truetype');
//   font-weight: 600;
//   text-transform: uppercase;
// }

@font-face {
  font-family: 'Playbill';
  src: url($site-baseurl + '/assets/fonts/Playbill.ttf') format('truetype');
}
