@font-face {
  font-family: 'Dejavu Neue';
  font-weight: 400;
  src: url($site-baseurl + '/assets/fonts/Dejavu Neue.ttf') format('truetype');
}

@font-face {
  font-family: 'Dejavu Neue';
  font-weight: 200;
  src: url($site-baseurl + '/assets/fonts/Dejavu Neue Extra Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Playbill';
  src: url($site-baseurl + '/assets/fonts/Playbill.ttf') format('truetype');
}
