html {
    font-weight: 400;
    color: $text-color;
    background-color: $background-color;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

:lang(en) {
  font-family: $primary-font-family;
}

:lang(ka) {
  font-family: $georgian-font-family;
}

html:lang(en) {
  font-size: 18px;
  line-height: 1.5;
}

html:lang(ka) {
  font-size: 16px;
  line-height: 26px;
}
