html {
    font: 400 18px/1.5 $primary-font-family;
    color: $text-color;
    background-color: $background-color;

    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
}

html:lang(ka) {
  font-family: $georgian-font-family;
  font-size: 17px;
}
