@mixin m-surround-with-brackets($visibility) {
  &::before {
    content: '<';
    font-family: $secondary-font-family;
    margin-right: -0.2em;
    visibility: $visibility;
  }

  &::after {
    content: '>';
    font-family: $secondary-font-family;
    margin-left: -0.2em;
    visibility: $visibility;
  }
}

$content-margin: 1.33rem;

@mixin m-cancel-content-margin() {
  margin-left: -1*$content-margin;
  margin-right: -1*$content-margin;
}

@mixin m-content-padding() {
  padding-left: $content-margin;
  padding-right: $content-margin;
}

@mixin m-secondary-font-family() {
  &:lang(en) {
    font-family: $secondary-font-family;
  }

  &:lang(ka) {
    font-family: $georgian-font-family;
  }

  // Applies English font to English text when it used in the context of
  // Georgian text. Example: რა არის Gogo Code?
  & :lang(en) {
    font-family: $secondary-font-family
  }
}
