$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Exo', sans-serif;
$georgian-font-family: 'Dejavu Neue', sans-serif;

$base-font-size: 18px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$max-content-width: 1000px;

$hide-nav-width: 1000px;
$graphic-list-become-horizontal: 800px;

$site-baseurl: '/Gogo-Code-Site';

// Colors

$primary-color: #74469e;
$secondary-color: #3de2ff;
$tertiary-color: #efd94e;

$background-color: #ffffff;
$grey-background-color: #f8f8f8;
$footer-background-color: darken($grey-background-color, 2.7%);

$text-color: #514d54;

// Borders

$border-top-colored: 3px solid #f1f0f4;
