$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Exo', sans-serif;

$base-font-size: 18px;
$base-font-weight: 300;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$hide-nav-width: 1000px;

$site-baseurl: '/Gogo-Code-Site';
