$primary-font-family: 'Open Sans', sans-serif;
$secondary-font-family: 'Exo', sans-serif;
$georgian-font-family: 'Dejavu Neue', sans-serif;
$georgian-caps-font-family: 'Dejavu Neue Caps', sans-serif;

$max-content-width: 950px;

// Only show navigation when nav switcher has space in margin
$hide-nav-width: $max-content-width + 200px;
$graphic-list-become-horizontal: 800px;

$site-baseurl: '';

$transition-time: 0.1s;

// Colors

$primary-color: #74469e;
$secondary-color: #3de2ff;
$tertiary-color: #efd94e;

$background-color: #ffffff;
$grey-background-color: #f8f8f8;
$footer-background-color: darken($grey-background-color, 2.7%);

$text-color: #514d54;

$minor-text-color: #929292;

// Borders

$border-left-colored: 1px solid $secondary-color;


$header-hidden-nav-height: 80px;
$header-displayed-nav-height: 130px;
$header-displayed-nav-height-scrolled: 100px;

$header-displayed-nav-height-scrolled-sections: -100px;