---
layout: georgian_blog
---

<main class='navbar-distance'>
	<section class='section u-limit-content-width blog-list'>
		{% assign sorted = (site.ka-blog | sort: 'date') | reverse %}
		 {% for post in sorted %}
			<div class='blogpost-wrap'>
				<div class='blogpost-header blogpost-element'>	
					<a href="{{ post.url | prepend: site.baseurl  }}" class="js-pjax  blogpost-link"><h1 class="blogpost-title">{{ post.title }}</h1></a>
					<div class='blogpost-date'> {{ post.date | date: '%B %d, %Y' }} </div>
				</div>

				<div class='blogpost-content blogpost-element'>
					{% if post.header_image %}
					<a href="{{ post.url | prepend: site.baseurl  }}" class="blogpost-image-link">
						<img class='blogpost-image' src={{post.header_image}}> 
					</a>
					{% endif %}
					<div class='blogpost-text'> 
						{{ post.excerpt | remove: '<p>' | remove: '</p>'  }}
					</div>
				</div>
			</div>
		 {% endfor %}
 	</section>
</main>
