


.blogpost-wrap {
	padding: 20px 0;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #ebeaf2;
}

.blog-list div:last-child {
	border: none;
}


.blogpost-element {
	display: flex;
	flex-direction: column;
	align-items: center;			
	width: 100%;
}

.blogpost-header {
	text-align: center;
	margin-bottom: 20px;
}

.blogpost-title {
	margin: 0 0 5px 0;
	transition: all 0.2s;
	color: $text-color;
	font-size: 36px;
	font-weight: 300;

	&:lang(en) {
	  font-family: $secondary-font-family;
	}

	&:lang(ka) {
	  font-family: $georgian-font-family;
	}
}

.blogpost-text, .blog-date {

	&:lang(en) {
	  font-family: $primary-font-family;
	}

	&:lang(ka) {
	  font-family: $georgian-font-family;
	}
}

.blogpost-date {
	font-weight: 100;
	color: $minor-text-color;
}

.blogpost-image-link {
	max-width: 80%;

	.blogpost-image {
		display: block;
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}



.blogpost-text {
	margin-top: 20px;
	font-size: 20px;
	line-height: 25px;
	font-weight: 300;

	h1, h2, h3 {
		font-weight: 300 !important;
	}

	h1 {
		font-size: 34px;
	}

	h2 {
		font-size: 27px;
	}

	h3 {
		font-size: 24px;
	}

}


body.not-touch .blogpost-link:hover .blogpost-title{
	color: $primary-color !important;
}

@media screen and (max-width: 800px) {
	.blogpost-title {
		font-size: 28px;
	}

	.blogpost-date {
		font-size: 15px;
	}

	.blogpost-text {
		font-size: 17px;
		line-height: 22px;

		h1 {
			font-size: 26px;
		}

		h2 {
			font-size: 22px;
		}

		h3 {
			font-size: 20px;
		}
	}
}