.brand {
  background: 20% 25%/200% auto scroll no-repeat darken($grey-background-color, 30%) url($site-baseurl + '/assets/images/Brand-Description-Background-Girl-At-Computer.jpg');
  height: 300px;
  padding-bottom: 1rem;

  @include m-cancel-content-margin();
  @include m-content-padding();
}

  .brand-content {
    height: 100%;
    max-width: $max-content-width;
    margin-left: auto;
    margin-right: auto;

    position: relative;
  }

    .brand-description {
      color: white;
      margin: 0;
      width: 250px;
      max-width: 60%;
      position: absolute;
      bottom: 20px;
      left: 0;
    }
