.brand {
  background: 20% 25%/200% auto scroll no-repeat darken($grey-background-color, 30%) url($site-baseurl + '/assets/images/Brand-Description-Background-Girl-At-Computer.jpg');
  height: 300px;
  padding-bottom: 1rem;

  @include m-cancel-content-margin();
  @include m-content-padding();

  @media (min-width: 750px) {
    height: 400px;
    font-size: 1.3rem;
  }

  @media (min-width: 1000px) {
    height: 550px;
    font-size: 1.8rem;
  }
}

  .brand-content {
    height: 100%;
    max-width: $max-content-width;
    margin-left: auto;
    margin-right: auto;

    position: relative;
  }

    .brand-description {
      color: white;
      margin: 0;
      width: 19em;
      max-width: 60%;
      position: absolute;
      bottom: 1em;
      left: 0;
    }
