.call-to-action {
  background-color: $secondary-color;
  color: white;
  display: block;
  font-size: 1.35rem;
  font-weight: 300;
  width: 6.2rem;
  padding: 0.72rem 0.45rem;
  letter-spacing: 0.02em;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;

  @include m-secondary-font-family();
}

.call-to-action:hover {
  @include m-surround-with-brackets(visible);
  background-color: darken($secondary-color, 5%);
}

// The color of the button looks lighter in a darker color context,
// so it is necessary to use a darker color

$call-to-action-dark-background-color: darken($secondary-color, 3%);

.call-to-action.mod-dark-background {
  background-color: $call-to-action-dark-background-color;

  &:hover {
    background-color: darken($call-to-action-dark-background-color, 5%);
  }
}

.call-to-action.mod-navigation {
  font-size: 1.1rem;
  padding: 0.6rem 0 0.6rem;
}
