.call-to-action {
  background-color: $secondary-color;
  color: white;
  display: block;
  font-family: $secondary-font-family;
  font-size: 1.3rem;
  font-weight: 200;
  width: 7rem;
  padding: 0.65rem 0;
  text-align: center;
  text-decoration: none;
  text-transform: lowercase;
}

.call-to-action:hover {
  @include m-surround-with-brackets();
  background-color: darken($secondary-color, 5%);
}

// The color of the button looks lighter in a darker color context,
// so it is necessary to use a darker color

$call-to-action-dark-background-color: darken($secondary-color, 3%);

.call-to-action.mod-dark-background {
  background-color: $call-to-action-dark-background-color;

  &:hover {
    background-color: darken($call-to-action-dark-background-color, 5%);
  }
}
