.camp-flag-icon-container {
  float: right;
  width: 150px;
  height: 125px;
  vertical-align: top;
  padding-left: 150px;
  padding-right: 50px;
  border-bottom: 1px solid rgba($primary-color, .5);
}
