.camp-flag-icon-container {
  float: right;
  width: 150px;
  height: 125px;
  vertical-align: top;
  padding-left: 75px;
  padding-right: 25px;
  border-bottom: 1px solid #dadaed;
  display: none;
  margin-top: 16px;

  @media (min-width: 950px) {
    display: block;
  }
}
