.graphic-heading {
  background-color: $secondary-color;
  opacity: .8;
}

  .graphic-heading-text {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 100;
  }
