.graphic-heading {
  background: url($site-baseurl + '/assets/images/Girl-Studying-At-Computer.jpg');
  height: 225px;
  position: relative;

  @media (min-width: $graphic-list-become-horizontal) {
    height: inherit;
  }
}

.graphic-heading::before {
  content: '';
  display: block;
  height: inherit;
  width: inherit;
  background-color: rgba($secondary-color, .7);

  @media (max-width: $graphic-list-become-horizontal) {
    @include m-cancel-content-margin();
    @include m-content-padding();
  }
}

  .graphic-heading-container {
    width: 270px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

    .graphic-heading-container-icon {
      width: 100px;
      margin: 0 auto;
    }

    .graphic-heading-container-text {
      color: white;
      text-align: center;
      text-transform: uppercase;
      font-family: $secondary-font-family;
      font-size: 2.5rem;
      font-weight: 100;
      margin: 0;
    }

.graphic-heading.mod-after-camp {
  background: url($site-baseurl + '/assets/images/Instructor-Helping-Student-At-Computer.jpg');

  &::before {
    background-color: rgba($tertiary-color, .7);
  }
}
