.graphic-list-container {
  margin-top: 0.9rem;
  margin-bottom: 1.35rem;

  @media (min-width: $graphic-list-become-horizontal) {
    display: flex;
  }
}

  .graphic-list-container-item {
    @media (min-width: $graphic-list-become-horizontal) {
      flex: 1;
      height: 350px;
    }
  }

.graphic-list-container.mod-after-camp {

  .graphic-list-container-item {
    @media (min-width: $graphic-list-become-horizontal) {
      height: 250px;
    }
  }

}
