
.header-wrapper {
  position: fixed;
  width: 100vw;
  background-color: white;
  z-index: 120;
  margin-left: -24px;

}

.header {
  transition: all 0.5s;

  @media (min-width: $hide-nav-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-displayed-nav-height;
    box-sizing: border-box;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    max-width: $max-content-width;
    margin-left: auto;
    margin-right: auto;
    
    &.scrolled {
      height: $header-displayed-nav-height-scrolled;
    }

  }


}

  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $header-hidden-nav-height;
    box-sizing: border-box;
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    max-width: $max-content-width;
    padding: 24px;
    transition: all 0.5s;

    @media (min-width: $hide-nav-width) {
      height: inherit;
      padding: 0;
    }

  }

    .header.scrolled .header-mobile{
      height: $header-hidden-nav-height-scrolled;
    }

    .header-mobile-brand {
      max-width: 170px;
      padding-top: 14px;

      svg {
        overflow: visible;
        width: 70%;
        
        .hover {
          transition: all $transition-time;
        }

        .hair-1 {
          transform-origin: right center;
        }

        .hair-2 {
          transform-origin: left center;
        }

      }

      @media (min-width: $hide-nav-width) {
        svg {
          width: 100%;
        }
      }
    }


    .not-touch .header-mobile-brand .logo-link:hover {
      .bracket-1 {
        transform: translate(3px, 0);
      }

      .bracket-2 {
        transform: translate(-3px, 0);
      }

      .hair-1 {
        transform: rotate(20deg);
      }

      .hair-2 {
        transform: rotate(-20deg);
      }

      .legs {
        transform: translate(0, 3px);
      }

    }