.heading {
  color: $primary-color;
  font-family: 'Exo';
  font-weight: 300;
  text-transform: lowercase;
}

.heading::before {
  content: '<';
  vertical-align: 0.05em;
  margin-right: -0.2em
}

.heading::after {
  content: '>';
  vertical-align: 0.05em;
  margin-left: -0.2em;
}
