.heading {
  color: $primary-color;
  font-family: $secondary-font-family;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.6rem;
  margin: 1rem 0;

  @include m-surround-with-brackets();

  // Prevents heading brackets from wrapping to next line on small screen
  @media (max-width: 350px) {
    font-size: 1.4rem;
  }

  @media (max-width: 310px) {
    font-size: 1.2rem;
  }
}

  .heading.mod-no-margins {
    margin: 0;
  }

  .heading.mod-footer {
    margin-top: 0;
    font-size: 1.2rem;
    color: #8c78a2;
  }
