.heading {
  color: $primary-color;
  font-weight: 400;
  text-transform: lowercase;
  font-size: 1.43rem;
  margin: 0.88rem 0;

  @include m-surround-with-brackets();
  @include m-secondary-font-family();

  // Prevents heading brackets from wrapping to next line on small screen
  @media (max-width: 350px) {
    font-size: 1.25rem;
  }

  @media (max-width: 310px) {
    font-size: 1.15rem;
  }
}

  .heading.mod-no-margins {
    margin: 0;
  }

  .heading.mod-footer {
    margin-top: 0;
    font-size: 1.2rem;
    color: #8c78a2;
  }
