.header {
  @include m-cancel-content-margin();
  
  @media (min-width: $hide-nav-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    box-sizing: border-box;
    padding: 1.2em 1.5em;
  }
}

  .header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 112px;
    box-sizing: border-box;
    padding: 1.2em 1.5em;

    @media (min-width: $hide-nav-width) {
      height: inherit;
      padding: 0;
    }
  }

    .header-mobile-brand {
      width: 55%;

      @media (min-width: $hide-nav-width) {
        width: 100%;
      }
    }
