.language-link {
  text-decoration: none;
  font-weight: 200;
  color: darken($grey-background-color, 40%);
  text-transform: lowercase;
  font-size: 0.92rem;

  @include m-secondary-font-family();
}

.language-link:not(:last-child)::after {
  content: '|';
  font-weight: 200 !important;
  color: darken($grey-background-color, 40%) !important;
}

.language-link.is-active {
  color: $secondary-color;
  font-weight: 400;
}

.not-touch .language-link.is-active:hover {
  color: darken($secondary-color, 5%);
}
