.language-link {
  text-decoration: none;
  font-family: $secondary-font-family;
  font-weight: 200;
  color: darken($grey-background-color, 40%);
  text-transform: lowercase;
  font-size: 1.05rem;
}

.language-link::after {
  content: '|';
}

.language-link:last-child::after {
  content: none;
}

.language-link.mod-georgian {
  font-family: $georgian-font-family;
}

.language-link.is-active {
  color: $secondary-color;
  font-weight: 400;
}

.language-link.is-active:hover {
  color: darken($secondary-color, 5%);
}
