.link {
  text-decoration: none;
  font-family: $secondary-font-family;
  font-weight: 200;
  color: darken($grey-color, 40%);
  text-transform: lowercase;
  font-size: 1.1rem;
}

.link.mod-donate {
  background-color: $secondary-color;
  font-size: 1.3rem;
  color: white;
  padding: 0.8rem;

  &::before {
    content: '<';
    vertical-align: 0.05em;
    margin-right: -0.2em
  }

  &::after {
    content: '>';
    vertical-align: 0.05em;
    margin-left: -0.2em;
  }
}

.link.mod-language {
  font-size: 1.05rem;
}

.link.mod-language::after {
  content: '|';
}

.link.mod-language:last-child::after {
  content: none;
}

.link.is-active {
  color: $secondary-color;
}
