.link {
  text-decoration: none;
  font-family: $secondary-font-family;
  font-weight: 200;
  color: darken($grey-color, 40%);
  text-transform: lowercase;
  font-size: 1.1rem;
}

.link.mod-contact {
  background-color: $primary-color;
  color: white;
  width: 8rem;
  display: block;
  text-align: center;
}

.link.mod-donate {
  background-color: $secondary-color;
  font-size: 1.3rem;
  color: white;
  padding: 0.8rem 0;
  width: 8rem;
  display: block;
  text-align: center;
}

.link.mod-surround-with-brackets {
  @include m-surround-with-brackets();
}

.link.mod-language {
  font-size: 1.05rem;
}

.link.mod-language::after {
  content: '|';
}

.link.mod-language:last-child::after {
  content: none;
}

.link.is-active {
  color: $secondary-color;
}
