.list-block {
  box-sizing: border-box;
  padding: 32px 24px;
  background-color: $grey-background-color;
  height: inherit;
  border-bottom: 3px solid #f1f0f4;

  @media (min-width: $graphic-list-become-horizontal) {
    border-top: 3px solid #f1f0f4;
    border-bottom: 0;
  }

  @media (min-width: 950px) {
    padding-left: 64px;
    padding-right: 64px;
  }
}

  .list-block-heading {
    font-size: 1.05rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 16px;
  }

  .list-block-list {
    margin: 8px 0;
    margin-left: -16px;
  }

    .list-block-list-item {
      list-style-type: none;
      margin: 8px 0;
    }

    .list-block-list-item:before {
      color: lighten($primary-color, 3%);
      float: left;
      margin: 0;
      margin-left: -0.7em;
      margin-top: 10px;
      width: 0.7em;
      height: 0.7em;
      font-size: 32px;
      content: '';
      background: url($site-baseurl + '/assets/images/list-bullet-point.svg') no-repeat;
    }
