.list-block {
  box-sizing: border-box;
  padding: 2rem 1rem;
  background-color: $grey-background-color;
  height: inherit;

  @media (min-width: $graphic-list-become-horizontal) {
    border-top: $border-top-colored;
  }

  @media (min-width: 950px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

  .list-block-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
  }

  .list-block-list {
    margin: 0.5rem 0;
  }

    .list-block-list-item {
      color: black;
      list-style-type: none;
      margin: 0.5rem 0;
    }

    .list-block-list-item:before {
      color: $primary-color;
      float: left;
      margin: 0;
      margin-left: -1em;
      margin-top: -0.65rem;
      width: 1em;
      font-size: 2rem;
      content: '\2022';
    }
