.list-block {
  padding: 2rem 1rem;
  background-color: $grey-background-color;
}

  .list-block-heading {
    font-weight: 900;
    margin: 0;
    margin-bottom: 1rem;
  }

  .list-block-list {
    margin: 0.5rem 0;
  }

    .list-block-list-item {
      color: black;
      list-style-type: none;
      margin: 0.5rem 0;
    }

    .list-block-list-item:before {
      color: $primary-color;
      float: left;
      margin: 0;
      margin-left: -1em;
      margin-top: -0.65rem;
      width: 1em;
      font-size: 2rem;
      content: '\2022';
    }
