.list-block {
  box-sizing: border-box;
  padding: 2rem 1.5rem;
  background-color: $grey-background-color;
  height: inherit;
  border-bottom: 3px solid #f1f0f4;

  @media (min-width: $graphic-list-become-horizontal) {
    border-top: 3px solid #f1f0f4;
    border-bottom: 0;
  }

  @media (min-width: 950px) {
    padding-left: 4rem;
    padding-right: 4rem;
  }
}

  .list-block-heading {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    margin-bottom: 1rem;
  }

  .list-block-list {
    margin: 0.5rem 0;
    margin-left: -1.25rem;
  }

    .list-block-list-item {
      color: black;
      list-style-type: none;
      margin: 0.5rem 0;
    }

    .list-block-list-item:before {
      color: lighten($primary-color, 3%);
      float: left;
      margin: 0;
      margin-left: -0.7em;
      margin-top: 0.6rem;
      width: 0.7em;
      height: 0.7em;
      font-size: 2rem;
      content: '';
      background: url($site-baseurl + '/assets/images/list-bullet-point.svg') no-repeat;
    }
