.main-nav {
  padding: 0.8em 0;
  background-color: $grey-color;

  @media (min-width: $hide-nav-width) {
    background-color: inherit;
  }
}

  .main-nav-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;
  }

    .main-nav-list-item {
      padding: 0.8rem;
      list-style-type: none;
      margin: 0 auto;

      @media (min-width: $hide-nav-width) {
        display: inline-block;
      }
    }
