.main-nav {
  padding: 0.86em 0 0.8em;
  background-color: $grey-background-color;

  @include m-cancel-content-margin();
  @include m-content-padding();

  @media (min-width: $hide-nav-width) {
    background-color: inherit;
  }
}

.main-nav.is-hidden-on-mobile {
  display: none;
  @media (min-width: $hide-nav-width) {
    display: initial;
  }
}

  .main-nav-list {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0;
    padding: 0;

    @media (min-width: $hide-nav-width) {
      flex-flow: row nowrap;
      justify-content: space-between;
      width: 700px;
    }
  }

    .main-nav-list-item {
      padding: 0.7rem;
      list-style-type: none;
      margin: 0 auto;
    }

    .main-nav-list-item.mod-normal-link {
      padding: 0;

      @media (min-width: $hide-nav-width) {
        display: inline-flex;
        justify-content: center;
        align-items: center;
      }
    }

    .main-nav-list-item.mod-donate {
      padding-bottom: 0.35rem;

      @media (min-width: $hide-nav-width) {
        padding-bottom: 0.8rem;
      }
    }

    .main-nav-list-item.mod-language-switcher {
      min-width: 3rem;
    }
