.nav-section-link {
  color: darken($grey-background-color, 40%);
  display: block;
  font-family: $secondary-font-family;
  font-size: 1.1rem;
  font-weight: 200;
  text-decoration: none;
  text-transform: lowercase;
}

.nav-section-link:hover {
  color: $primary-color;
  min-width: 8rem;
  text-align: center;

  @include m-surround-with-brackets();
}

.nav-section-link:active {
  background-color: $primary-color;
  color: white;
  min-width: 8rem;
  text-align: center;

  @include m-surround-with-brackets();
}
