.nav-toggle-button {
  border: 0;
  background-color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;


  @media (min-width: $hide-nav-width) {
    display: none;
  }
}

  .nav-toggle-button-icon-bar {
    display: block;
    width: 23px;
    height: 1px;
    padding: 4px 0;
    border-radius: 1px;
    background-color: $secondary-color;
    background-clip: content-box;
}
