.nav-dropdown-button {
  border: 0;
  background-color: inherit;
}

  .nav-dropdown-button-icon-bar {
    display: block;
    margin-top: 4px;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #3de2ff;
}
