.nav-section-link {
  color: darken($grey-background-color, 40%);
  display: block;
  font-family: $secondary-font-family;
  font-size: 1.1rem;
  font-weight: 200;
  text-decoration: none;
  text-transform: lowercase;
  text-align: center;
  min-width: 7rem;

  @media (min-width: $hide-nav-width) {
    min-width: initial;
    padding: 0 0.5rem;

    // Necessary to insert invisible brackets so that hovering doesn't
    // change content box width
    &::before {
      content: '<';
      margin-right: -0.2em;
      visibility: hidden;
    }

    &::after {
      content: '>';
      margin-left: -0.2em;
      visibility: hidden;
    }
  }
}

.nav-section-link:hover {
  color: $primary-color;
  text-align: center;

  @include m-surround-with-brackets();
}

.nav-section-link:active {
  background-color: $primary-color;
  color: white;
  text-align: center;

  @include m-surround-with-brackets();
}
