.nav-dropdown-button {
  border: 0;
  background-color: inherit;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 22px;
}

  .nav-dropdown-button-icon-bar {
    display: block;
    width: 23px;
    height: 1px;
    border-radius: 1px;
    background-color: #3de2ff;
}
