/*
Source: https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/
Note: Current code does not work for percentages greater than 50%. The article
      above describes a way to fix that.
*/

$pie-chart-filled-color: #665db5;

.pie-chart {
  position: relative;
  width: inherit;
  height: inherit;
  border-radius: 50%;
  background: #e6e6e6;
  background-image:
  linear-gradient(to right, transparent 50%, $pie-chart-filled-color 0);
}

.pie-chart::before {
  content: '';
  display: block;
  margin-left: 50%;
  height: 102%;
  width: 50.5%;
  border-radius: 0 100% 100% 0 / 50%;
  background-color: inherit;
  transform-origin: left;
  transform: rotate(.16turn);
}

  .pie-chart-label {
    color: $pie-chart-filled-color;
    font-size: 1.3rem;
    font-weight: 700;
    position: absolute;
    top: -22px;
    right: 4px;
  }
