.section {
  margin-top: 1.77rem;
  margin-bottom: 1.77rem;
}

.section.mod-about {
  margin-bottom: 0.89rem;
  @media (min-width: $graphic-list-become-horizontal) {
    margin-top: 2.22rem;
    margin-bottom: 2.67rem;
  }
}

.section.mod-why-coding {
  margin-top: 0.89rem;
  margin-bottom: 1.77rem;
  padding-top: 1.77rem;
  background: $grey-background-color;
  border-top: 3px solid #ebeaf2;

  @include m-cancel-content-margin();
  @include m-content-padding();
}

.section.mod-support {
  margin-top: 1.33rem;
  margin-bottom: 1.33rem;

  @media (min-width: 800px) {
    margin-top: 1.77rem;
    margin-bottom: 1.77rem;
  }
}
