.section {
  margin-top: 32px;
  margin-bottom: 32px;
}

.section.mod-about {
  margin-bottom: 16px;
  @media (min-width: $graphic-list-become-horizontal) {
    margin-top: 40px;
    margin-bottom: 48px;
  }
}

.section.mod-why-coding {
  margin-top: 16px;
  margin-bottom: 32px;
  padding-top: 32px;
  background: $grey-background-color;
  border-top: 3px solid #ebeaf2;

  @include m-cancel-content-margin();
  @include m-content-padding();
}

.section.mod-support {
  margin-top: 24px;
  margin-bottom: 24px;

  @media (min-width: 800px) {
    margin-top: 32px;
    margin-bottom: 32px;
  }
}
