$slideshow-wrapper-height: 500px;

.story {

	.slideshow {
		display: flex;
		justify-content: center;
	}

	.slideshow .slideshow-items-wrapper {
		position: relative;
		overflow: hidden;
		width: calc(100% - 30px);
	}

	.slideshow .slideshow-item {
		display: none;
		width: 100%;
		&.active {
			display: inline-block;
			.slideshow-image {
				animation: appear 2.5s;
			}
		}
	}

	.slideshow .slideshow-image {
		width: 100% !important;
		height: auto !important;
	}

	.slideshow .slideshow-next-prev-button {
		position: absolute;
		display: flex;
		align-items: center;
		justify-content: center;
		top: calc(50% - 30px);
		width: 40px;
		height: 40px;
	  	color: black;
	  	cursor: pointer;
	  	
		&:focus {
		 	outline: none; 
		}

		svg {
			width: 60px;
			height: 60px;
			path {
				transition: all 0.2s; 
				fill: $text-color;
			}
		}

		&.prev {
			left: -22px;
		}

		&.next {
			right: -22px;

			svg {
				transform: rotate(180deg);
			}

		}
	}

	.popup-image {
		height: auto;
		overflow: hidden;
	}

	.popup-image a {
		position: relative;
		width: 100%;
		max-height: 600px;
		background-color: black;
	}

	.popup-image img {
		width: 100%;
		height: auto;
		opacity: 0.7;
		transition: all 0.2s;
	}

	.popup-image .click {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		svg {
			width: 100px;
			height: auto;
			transition: all 0.2s;
		}

		path {
			fill: $secondary-color;
		}

	}

	.story-video iframe.video {
		width: 854px !important;
		height: 480px !important;
	}

	.story-text img {
		display: block;
		margin: 20px auto;
		width: 80%;
		height: auto;
	}


}

body.not-touch.story .slideshow .slideshow-next-prev-button:hover {
	svg path {
		fill: $secondary-color;
	}
}


body.not-touch.story .popup-image a {
	&:hover {

		img {
			opacity: 0.5;
		}
	}
}

body.touch.story .popup-image a {
	svg {
		opacity: 1;
	}

	img {
		opacity: 0.5;
	}
}

@keyframes appear {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}


@media screen and (max-width: 1020px) {
	.story .story-video iframe.video {
		width: 640px !important;
		height: 360px !important;
	}
}

@media screen and (max-width: 767px) {
	.story .story-video iframe.video {
		width: 426px !important;
		height: 240px !important;
	}

	.story .story-text img {
		width: 100%;
	}
}

@media screen and (max-width: 500px) {
	.story .story-video iframe.video {
		width: 280px !important;
		height: 158px !important;
	}
}

@media screen and (max-height: 900px) {
	.story .popup-image a {
		max-height: 400px;
	}
}

@media screen and (max-height: 700px) {
	.story .popup-image a {
		max-height: 300px;
	}
}