


.story-wrap {
	padding: 50px 0;
	border-width: 0 0 2px 0;
	border-style: solid;
	border-color: #ebeaf2;
}

.stories-list div:first-child {
	padding-top: 20px;
}

.stories-list div:last-child {
	border: none;
}


.story-element {
	display: flex;
	flex-direction: column;
	align-items: center;			
	width: 100%;
}

.story-header {
	text-align: center;
	margin-bottom: 20px;
}

.story-title {
	margin: 0 0 5px 0;
	transition: all 0.2s;
	color: $text-color;
	font-size: 36px;
	font-weight: 300;

	&:lang(en) {
	  font-family: $secondary-font-family;
	}

	&:lang(ka) {
	  font-family: $georgian-font-family;
	}
}

.story-text, .story-date {

	&:lang(en) {
	  font-family: $primary-font-family;
	}

	&:lang(ka) {
	  font-family: $georgian-font-family;
	}
}

.story-date {
	font-weight: 100;
	color: $minor-text-color;
}

.story-image-link {
	width: 100%;
	
	.story-image {
		display: block;
		width: 100%;
		height: auto;
		margin-left: auto;
		margin-right: auto;
	}
}



.story-text {
	margin-top: 20px;
	font-size: 20px;
	line-height: 1.6;
	font-weight: 300;

	h1, h2, h3 {
		font-weight: 300 !important;
	}

	h1 {
		font-size: 34px;
	}

	h2 {
		font-size: 27px;
	}

	h3 {
		font-size: 24px;
	}

}


body.not-touch .story-link:hover .story-title{
	color: $primary-color !important;
}

@media screen and (max-width: 800px) {
	.stories-list div:first-child {
		padding-top: 10px;
	}

	.story-title {
		font-size: 28px;
	}

	.story-date {
		font-size: 15px;
	}

	.story-text {
		font-size: 17px;

		h1 {
			font-size: 26px;
		}

		h2 {
			font-size: 22px;
		}

		h3 {
			font-size: 20px;
		}
	}
}