$support-text-become-horizontal: 900px;

.get-involved-section {
  position: relative;

  @media (max-width: 900px) {
    margin-bottom: 80px;
  }

}

  .get-involved-section-text {
    display: flex;
    flex-direction: column;

    @media (min-width: $support-text-become-horizontal) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

    .get-involved-section-text-section {
      box-sizing: border-box;
    }

    .get-involved-section-text-section:first-child {
      @media (min-width: $support-text-become-horizontal) {
        padding-right: 32px;

        &:lang(en) {
          width: 56.9%;
        }

        &:lang(ka) {
          width: 54.5%;
        }
      }
    }

    .get-involved-section-text-section:last-child {
      @media (min-width: $support-text-become-horizontal) {
        &:lang(en) {
          width: 43.1%;
        }

        &:lang(ka) {
          width: 45.5%;
        }
      }
    }

      .get-involved-section-text-section-content {
        padding-left: 16px;
        border-left: $border-left-colored;
        margin-top: 16px;
        margin-bottom: 0;

        a {
           word-break: break-all;
        }

        &:lang(ka) {
          @media (min-width: 800px) {
            margin-top: 24px;
          }
        }

        @media (min-width: 800px) {
          margin-top: 32px;
        }
      }

  .get-involved-section-donate {
    float: right;
    margin-bottom: 16px;

    @media (min-width: $support-text-become-horizontal) {
      position: absolute;
      right: 0;
      top: -13px;
    }
  }
