$support-text-become-horizontal: 900px;

.support-section {
  position: relative;
}

  .support-section-text {
    display: flex;
    flex-direction: column;

    @media (min-width: $support-text-become-horizontal) {
      flex-direction: row;
      justify-content: space-between;
    }
  }

    .support-section-text-section {
      box-sizing: border-box;
    }

    .support-section-text-section:first-child {
      @media (min-width: $support-text-become-horizontal) {
        width: 56.9%;
        padding-right: 1.77rem;
      }
    }

    .support-section-text-section:last-child {
      @media (min-width: $support-text-become-horizontal) {
        width: 43.1%;
      }
    }

      .support-section-text-section-content {
        padding-left: 0.89rem;
        border-left: $border-left-colored;
        margin-top: 0.89rem;
        margin-bottom: 0;

        @media (min-width: 800px) {
          margin-top: 1.77rem;
        }
      }

  .support-section-donate {
    float: right;
    margin-bottom: 0.89rem;

    @media (min-width: $support-text-become-horizontal) {
      position: absolute;
      right: 0;
      top: -13px;
    }
  }
