.text-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: 550px) {
    flex-direction: row;
  }
}

  .text-icon-container-text {
  }

  .text-icon-container-icon {
  }

.text-icon-container.mod-pie-chart {

  .text-icon-container-icon {
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 35px;
    margin-left: 35px;
    height: 138px;
    width: 138px;

    @media (min-width: 550px) {
      margin-right: 0;
      height: 157px;
      width: 157px;
    }

    @media (min-width: 800px) {
      margin-left: 87px;
    }
  }

}

.text-icon-container.mod-donate {

  .text-icon-container-icon {
    margin-left: 50px;
    align-self: flex-end;

    @media (min-width: 700px) {
      align-self: center;
    }
  }

}
