.text-block {
  padding-left: 1rem;
  border-left: $border-left-colored;
  margin-top: 2rem;
  margin-bottom: 2rem;

  @media (min-width: 800px) {
    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

.text-block.mod-no-bottom-margin {
  margin-bottom: 0rem;
}
