.text-block {
  padding-left: 16px;
  border-left: $border-left-colored;
  margin-top: 32px;
  margin-bottom: 32px;

  @media (min-width: 800px) {
    margin-bottom: 48px;
  }
}

.text-block.mod-no-bottom-margin {
  margin-bottom: 0;
}
