<!DOCTYPE html>
<html lang='ka'>
  {% include head.html %}
  <body class='blogpost'>

    <div class='wrapper'>
    
    {% include georgian/header.html %}

    <main class='navbar-distance'>

      <section class='section blogpost-header blogpost-element'>  
        <h1 class="blogpost-title">{{ page.title }}</h1>
        <div class='blogpost-date'> {{ page.date | date: '%B %d, %Y' }} </div>
      </section>

      {% if page.slideshow %}
      <section class="section u-limit-content-width slideshow">
        <div class="slideshow-items-wrapper flex-centered flex">
          {% assign high_index = 0  %}
          {% for img in page.slideshow %}
            <div class="slideshow-item" data-index={{ high_index }}>
              <img class='slideshow-image' src='{{ img[1] }}'> 
            </div>
             {% assign high_index = high_index | plus: 1 %}
          {% endfor %}
        </div>

        <a class="slideshow-next-prev-button prev">  
          {% include icons/arrow.svg %}
        </a>

        <a class="slideshow-next-prev-button next">
          {% include icons/arrow.svg %}
        </a>
      </section>
      {% endif %}
      


      {% if page.popup_image %}
      <section class='flex-centered-horizontal flex section u-limit-content-width popup-image'>
        <a class='flex-centered flex image_popup fancybox' href='{{ page.popup_image }}'>
          <img src='{{ page.popup_image }}'> 
          <div class='click flex-centered flex'>
            {% include icons/click.svg %}
          </div>
        </a>
      </section>
      {% endif %}

      {% if page.video %}
      <section class='flex-centered-horizontal flex section u-limit-content-width blogpost-video'>
        <iframe  class='video' src="{{page.video}}" frameborder="0" allowfullscreen></iframe>      
      </section>
      {% endif %}
      
      <section class="section u-limit-content-width content">
        <div class='blogpost-text'>
          {{ content | remove: '<p>' | remove: '<p>' }}
        </div>
      </section>

    </main>



    {% include georgian/footer.html %}

    </div>
    {% include scripts.html %}
    {% include slideshow_scripts.html %}

  </body>

</html>