---
layout: english_blog
---
<main class='navbar-distance'>
	<section class='section u-limit-content-width blog-list'>
		 {% for post in site.eng-blog %}
			<div class='blogpost'>
				<div class='blogpost-header'>	
					<a href="{{ post.url | prepend: site.baseurl  }}" class="js-pjax"><h2 class="title">{{ post.title }}</h2></a>
					<div class='date'> {{ post.date }} </div>
				</div>

				<div class='blogpost-content'>
					{% if post.header-image %}
						<img class='blogpost-image' src={{post.header-image}}> 
					{% endif %}
					<p class='blogpost-excerpt'> 
						{{ post.excerpt | remove: '<p>' | remove: '</p>'  }}
					</p>
				</div>
			</div>
		 {% endfor %}
 	</section>
</main>